/* div#responsive-navbar-nav {
  margin-left: 75%;
  margin-left: 100%; 

} */

/* div#basic-navbar-nav {
  margin-left: 45%;
} */

/* .mr-auto, .mx-auto {
  margin-right: 0 !important;
}

#basic-navbar-nav {
  justify-content: flex-end;
} */

